h1{
    font-size: 2.5rem;
    margin: 20px;
    font-weight: 700;

}
input{
    width: 80%;
}



.myrow{
    margin: 10px 6px;
}
.my-btn{
    min-width: 80px;
    margin: 10px;
    padding: 10px;
}

